.title-slide h1 {
  text-align: left;
  margin-bottom: 0;
}

.title-slide h2 {
  text-align: left;
  text-transform: capitalize;
  color: #a7a7a7;
}

.title-slide h2 strong {
  font-weight: normal;
  font-size: 0.75em;
}

blockquote {
  padding: 10px 20px !important;
  text-align: left;
}

blockquote cite {
  font-family: "Times New Roman", serif;
  display: block;
  font-size: 0.75em;
  font-weight: 400;
  margin-top: 20px;
}

blockquote cite::before {
  content: "\2014";
  margin-right: 10px;
}

blockquote strong,
blockquote code {
  color: #42affa;
}

p {
  text-align: left;
}

.footer {
  position: absolute;
  text-align: left;
  text-shadow: 1px 1px 1px rgba(80, 80, 80, 0.8);
  width: 100%;
  bottom: 20px;
  left: 20px;
  font-size: 0.5em;
  color: #a7a7a7;
}

.text-center {
  text-align: center;
}

.reveal pre {
  font-size: 0.5em;
}

.reveal pre code,
.reveal blockquote code {
  font-family: "Dank Mono", Menlo, "Courier New", monospace;
  padding: 15px;
  font-style: normal;
}

.reveal pre code {
  max-height: 90%;
}

.code-example-path {
  width: 90%;
  font-size: 0.5em;
  text-align: right;
  font-style: italic;
  color: #a7a7a7;
  margin: 0 auto;
}
